<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
  
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="lib/bootstrap/less/bootstrap.less" />-->
    <!-- Bootstrap Material Design -->
     <!--<link rel="stylesheet" href="lib/bootstrap-material-design/dist/css/bootstrap-material-design.css">-->
    <!--<link rel="stylesheet" href="lib/bootstrap-material-design/dist/css/ripples.css">-->
    <!--Theme-->
   

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-bootstrap-material/dist/angular-bootstrap-material.js"></script>

    <script src="application/routes.js"></script>
    <script type="text/javascript">
        var app = angular.module("InfoWeb", ["angularBootstrapMaterial", 'ui.bootstrap', 'ui.router']);
        app.config(function ($stateProvider) {
            configureRoutes($stateProvider);
        });

        app.controller("MainController", ["$scope", '$rootScope', function ($scope, $rootScope) {
            $scope.currentUser = null;
            $scope.open = false;
            $scope.item = null;
            $scope.toggleMenuClass = "glyphicon glyphicon-triangle-bottom";
          
            $rootScope.$on("userAuthenticated", function (event,user) {
                $scope.currentUser = user;
            });

            $scope.toggleMenu = function ($event, open,item) {

                if (open && item == $scope.item)
                    $scope.toggleMenuClass = "glyphicon glyphicon-triangle-bottom";
                else
                    $scope.toggleMenuClass = "glyphicon glyphicon-triangle-top";

                $scope.open = !open;              
                $scope.item = item;
         

                console.log($event);
            };

            }
        ]);
    </script>

    <script src="application/services/UrlService.js"></script>
    <script src="application/services/AuthenticationService.js"></script>
    <script src="application/controllers/login-controller.js"></script>
    

    <!--<script src="demo.js"></script>-->

</head>
<body ng-app="InfoWeb">
    <!--<a ui-sref=".login"  class="btn btn-primary" >List</a>-->
    <div id="main" ng-controller="MainController">

        <header id="headerStyle" class="navbar navbar-fixed-top bg-primary" ng-show="currentUser != null">
            <div class="navbar-branding">
                <h2>
                    <a href="#" style="margin-left:20px">InfoWeb</a>
                </h2>
            </div>
            <ul class="nav navbar navbar-right" style="background-color:transparent">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle fw600 p15">
                        <img src="images/nophoto.jpg" alt="avatar" class="mw30 br64">
                        <span> UsuarioLogueado</span>
                        <span class="caret"></span>
                    </a>                   
                </li>
            </ul>
        </header>
        
        <aside id="sidebar_left" class="nano nano-light affix sidebar-dark has-scrollbar" ng-show="currentUser != null">

            <!-- Start: Sidebar Left Content -->
            <div class="sidebar-left-content nano-content" style="margin-right: -17px;">
                <!-- Start: Sidebar Header -->
                <header class="sidebar-header"></header>
                <ul class="nav sidebar-menu">
                    <!--<li class="sidebar-label">Menu</li>-->
                    <li ng-click="toggleMenu($event,open,1);">
                        <a class="nav-submenu" data-toggle="nav-submenu" >
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title">Home</span>
                            <b ng-class="toggleMenuClass" class=""></b>
                        </a>
                        <ul class="nav sub-nav" ng-class="{'toggleOn': open,'toggleOff': open}" ng-show="item == 1">
                            <li >
                                <a ng-click="$event.stopPropagation();">
                                    <span class="glyphicon glyphicon-user" ></span>Item 1
                                </a>
                            </li>
                            <li >
                                <a ng-click="$event.stopPropagation();">
                                    <span class="glyphicon glyphicon-calendar"></span>Item 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-click="toggleMenu($event,open,2);">
                        <a class="nav-submenu" data-toggle="nav-submenu">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title">Probando</span>
                            <b ng-class="toggleMenuClass" class=""></b>
                        </a>
                        <ul class="nav sub-nav" ng-class="{'toggleOn': open,'toggleOff': open}" ng-show="item == 2">
                            <li>
                                <a ng-click="$event.stopPropagation();">
                                    <span class="glyphicon glyphicon-user"></span>Item 1
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation();">
                                    <span class="glyphicon glyphicon-calendar"></span>Item 2
                                </a>
                            </li>
                        </ul>
                    </li>
                   
                </ul>
                
            </div>
        </aside>

        <section id="content">
            <div ui-view>
            </div>
        </section>
    </div>
   
</body>
</html>