<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
  
    <!-- Bootstrap -->  
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css" />
   
    <!--<link rel="stylesheet" href="lib/bootstrap/less/bootstrap.less" />-->
    <!-- Bootstrap Material Design -->
     <link rel="stylesheet" href="lib/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <!--<link rel="stylesheet" href="lib/bootstrap-material-design/dist/css/ripples.css">-->
    <!--<link rel="stylesheet" href="lib/material/bootstrap-material-design/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="lib/material/bootstrap-material-design/css/bootstrap-material-design.min.css">


    <script src="lib/material/bootstrap-material-design/js/bootstrap-material-design.js"></script>
    <script src="lib/material/bootstrap-material-design/js/bootstrap-material-design.min.js"></script>-->
    <!--<link rel="stylesheet" href="lib/bootstrap-material-design/dist/css/ripples.css">
    <link rel="stylesheet" href="lib/bootstrap-material-design/dist/css/ripples.min.css">-->

    <!--Theme-->
    <link rel="stylesheet" href="css/theme.css" />
    <!--Ng-Table-->
    <link rel="stylesheet" href="lib/ng-table-bundle/ng-table.min.css" />
   
    <!--JQuery Angular-->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-bootstrap-material/dist/angular-bootstrap-material.js"></script>
    <script src="lib/ng-table-bundle/ng-table.min.js"></script>

    <!--JQuery Bootstrap-->
    <!--<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <!--<script src="lib/bootstrap-material-design/scripts/material.js"></script>-->


    <!--<script src="lib/jquery.min.js"></script>-->

   
    <!--<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>-->




    <script src="application/routes.js"></script>
    <script type="text/javascript">
        var app = angular.module("InfoWeb", ["angularBootstrapMaterial", 'ui.bootstrap', 'ui.router','ngTable']);
        app.config(function ($stateProvider) {
            configureRoutes($stateProvider);
        });

        app.run(function ($transitions, $state, AuthenticationService) {
            $transitions.onStart({}, function (transition) {
                var targetState = transition.to();
                var user = AuthenticationService.getCurrentUser();

                if (targetState.authenticate == true && (user == null || user == undefined))
                {
                    $state.go('login');
                    return true;
                }
            });
        });

        app.controller("MainController", ["$scope", '$rootScope', '$state', function ($scope, $rootScope, $state) {
            $scope.currentUser = null;
            $scope.open = false;

            $rootScope.$on("userAuthenticated", function (event, user) {
                $scope.currentUser = user;
                $state.go('projectList');
            });

            $scope.listUser = function ($event) {
                $event.stopPropagation();
                $state.go('userList');
            };
            $scope.listProject = function ($event) {
                $event.stopPropagation();
                $state.go('projectList');
            }
            $scope.asignar = function ($event) {
                $event.stopPropagation();
                $state.go('assign');
            };

            $scope.delegate = function ($event) {
                $event.stopPropagation();
                $state.go('delegateProject');
            };

            $scope.listRoles = function ($event) {
                $event.stopPropagation();
                $state.go('roleList');
            };

            $scope.listHourTypes = function ($event) {
                $event.stopPropagation();
                $state.go("hourTypeList");
            };

            $scope.listClient = function ($event) {
                $event.stopPropagation();
                $state.go("clientList");
            };

            $scope.listProjectTypes = function ($event) {
                $event.stopPropagation();
                $state.go("projectTypesList");
            };

            $scope.assignHours = function ($event) {
                $event.stopPropagation();
                $state.go("assignHoursToDeveloper");
            };

            $scope.listAssignmentTypes = function ($event) {
                $event.stopPropagation();
                $state.go("assignmentTypeList");
            };

                
            $scope.toggleMenu = function ($event, open) {

                //if (open && item == $scope.item)
                //    $scope.toggleMenuClass = "glyphicon glyphicon-triangle-bottom";
                //else
                //    $scope.toggleMenuClass = "glyphicon glyphicon-triangle-top";

                $scope.open = !open;
                //$scope.item = item;

            };


            }
        ]);
    </script>

    <script src="application/services/UrlService.js"></script>
    <script src="application/services/AuthenticationService.js"></script>
    <script src="application/services/project-service.js"></script>
    <script src="application/services/user-service.js"></script>
    <script src="application/services/role-service.js"></script>
    <script src="application/services/project-service-tmp.js"></script>
    <script src="application/services/hour-type-service.js"></script>
    <script src="application/services/client-service.js"></script>
    <script src="application/services/project-types-service.js"></script>
    <script src="application/services/assignment-type-service.js"></script>

    <script src="application/controllers/login-controller.js"></script>
    <script src="application/controllers/project-controller.js"></script>
    <script src="application/controllers/user-controller.js"></script>
    <script src="application/controllers/role-list-controller.js"></script>
    <script src="application/controllers/create-role-controller.js"></script>
    <script src="application/controllers/update-role-controller.js"></script>
    <script src="application/controllers/remove-role-dialog-controller.js"></script>
    <script src="application/controllers/assign-controller.js"></script>
    <script src="application/controllers/delegate-controller.js"></script>
    <script src="application/controllers/project-details-controller.js"></script>   
    <script src="application/controllers/developer-assignment-controller.js"></script>
    <script src="application/controllers/hour-types-list-controller.js"></script>
    <script src="application/controllers/client-list-controller.js"></script>
    <script src="application/controllers/create-hour-type-controller.js"></script>
    <script src="application/controllers/update-hour-type-controller.js"></script>
    <script src="application/controllers/remove-hour-type-modal-controller.js"></script>
    <script src="application/controllers/create-client-controller.js"></script>
    <script src="application/controllers/update-client-controller.js"></script>
    <script src="application/controllers/remove-client-modal-controller.js"></script>
    <script src="application/controllers/assignment-type-list-controller.js"></script>
    <script src="application/controllers/create-assignment-type-controller.js"></script>
    <script src="application/controllers/update-assignment-type-controller.js"></script>
    <script src="application/controllers/remove-assignment-type-dialog-controller.js"></script>
    <script src="application/controllers/remove-project-dialog-controller.js"></script>
    <script src="application/controllers/create-project-types-controller.js"></script>
    <script src="application/controllers/update-project-types-controller.js"></script>
    <script src="application/controllers/remove-project-types-controller.js"></script>
    <script src="application/controllers/project-types-list-controller.js"></script>
    <script src="application/controllers/create-user-controller.js"></script>
    <script src="application/controllers/remove-user-dialog-controller.js"></script>
    <script src="application/controllers/update-user-controller.js"></script>


    <script src="application/directives/tree-detail-view/details-directive.js"></script>
    <script src="application/directives/tree-detail-view/tree-directive.js"></script>





    

    <!--<script src="demo.js"></script>-->

</head>
<body ng-app="InfoWeb">
    <!--<a ui-sref=".login"  class="btn btn-primary" >List</a>-->
    <div id="main" ng-controller="MainController" >

        <header id="headerStyle" class="navbar navbar-fixed-top bg-primary col-s12" ng-show="currentUser != null">
            <div class="navbar-branding">
                <h2>
                    <a href="#" style="margin-left:20px">InfoWeb</a>
                </h2>
            </div>
            <ul class="nav navbar navbar-right" style="background-color:transparent">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle fw600 p15">
                        <img src="images/nophoto.jpg" alt="avatar" class="mw30 br64">
                        <span> UsuarioLogueado</span>
                        <span class="caret"></span>
                    </a>                   
                </li>
            </ul>
        </header>
        
        <aside id="sidebar_left" class="nano nano-light affix sidebar-dark has-scrollbar" ng-show="currentUser != null">

            <!-- Start: Sidebar Left Content -->
            <div class="sidebar-left-content nano-content" style="margin-right: -17px; margin-top: 30px;">
                <!-- Start: Sidebar Header -->
                <header class="sidebar-header"></header>
                <ul class="nav sidebar-menu">
                    <!--<li class="sidebar-label">Menu</li>-->

                    <li ng-click="toggleMenu($event,open);" ng-show="currentUser.role.name == 'ADMIN'">
                        <a class="accordion-toggle">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title">Gestión de admon</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="nav sub-nav" ng-class="{'toggleOn': open,'toggleOff': open}" ng-show="open" style="margin-left:10px;">
                            <li>
                                <a ng-click="asignar($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Asignar proyectos</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="listUser($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Gestionar usuarios</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="listHourTypes($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Gestionar tipos de hora</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="listAssignmentTypes($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Gestionar tipos de asignación</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="listClient($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Gestionar clientes</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="listRoles($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Gestionar roles</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="listProjectTypes($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Gestionar tipos de proyectos</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li ng-click="toggleMenu($event,open);" ng-show="currentUser.role.name == 'OM'">
                        <a>
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title">Gestión de proyectos</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="nav sub-nav" ng-class="{'toggleOn': open,'toggleOff': open}" ng-show="open" style="margin-left:10px;">
                            <li>
                                <a ng-click="listProject($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Ver proyectos</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="delegate($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Delegar proyecto</span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="assignHours($event);">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="sidebar-title">Asignar horas</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-show="currentUser.role.name == 'PM' || currentUser.role.name == 'TAM'">
                        <a>
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title" ng-click="ir();">Gestion de horas</span>
                            <span class="caret"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>

        <section id="content">
            <div ui-view>
            </div>
        </section>
    </div>
</body>
</html>