@{
    ViewData["Title"] = "Mantenimiento de Clientes";
    @model Clients.Models.Clientes
}

<div class="container">
  
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form asp-controller="Home" asp-action="Create" method="post">


                                <div class="form-group">
                                    <label class="control-label" asp-for="NombreCompleto">Nombre Completo</label>
                                    <input class="form-control" asp-for="NombreCompleto" data-val="true" data-val-required="El número nombre es obligatorio" />
                                    <span asp-validation-for="NombreCompleto" class="text-danger field-validation-valid" data-valmsg-for="NombreCompleto" data-valmsg-replace="true"></span>
                                </div>



                                <div class="form-group">
                                    <label class="control-label" asp-for="Identificacion">Identificacion</label>
                                    <input type="number" class="form-control" asp-for="Identificacion"
                                           data-val="true" data-val-required="El número de identificación es obligatorio"
                                           data-val-number="El número de identificación sólo admite dígitos" />
                                    <span asp-validation-for="Identificacion" class="text-danger  field-validation-valid" data-valmsg-for="Identificacion" data-valmsg-replace="true"></span>

                                </div>

                                <div class="form-group">
                                    <label class="control-label" asp-for="Telefono">Teléfono</label>
                                    <input type="number" class="form-control" asp-for="Telefono" data-val="true" data-val-number="El teléfono sólo admite dígitos" />
                                    <span asp-validation-for="Telefono" class="text-danger field-validation-valid" ata-valmsg-for="Telefono" data-valmsg-replace="true"></span>
                                </div>

                           
                            <div class="row pull-right">
                                <a class="btn btn-default" asp-controller="Home" asp-action="Index">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    
</div>

