<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>Listado de Proyectos</b></span>
        </div>
        <div class="panel-body">           
            <div id="search" class="pull-right">
                <div class="inner-addon left-addon">
                    <input type="text" class="form-control" placeholder="Buscar..." ng-model="search" />
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="tableList">
                <table ng-table="model.tableParams" class="table table-hover">
                    <!--<thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Cliente</b></td>
                            <td><b>Tipo de Proyecto</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>-->
                    <tbody>
                        <tr ng-repeat="project in $data">
                            <td title="'Nombre'" sortable="'name'">
                                {{project.name}}
                            </td>
                            <td title="'Cliente'" sortable="'client.name'">
                                {{project.client.name}}
                            </td>
                            <td title="'Tipo'" sortable="'type.name'">
                                {{project.type.name}}
                            </td>
                            <td title="'Opciones'">
                                <span class="glyphicon glyphicon-list" ng-click="viewDetails(project.id)" title="Ver"></span>
                                <span class="glyphicon glyphicon-pencil" ng-click="onEditClicked(project.id)" ng-show="currentUser.role.name == 'ADMIN'"></span>
                                <span ng-if="currentUser.role.name == 'ADMIN'" class="glyphicon glyphicon-trash" ng-click="onRemoveClicked(project)" title="Eliminar"></span>
                                <span class="glyphicon glyphicon-search" ng-click="onViewHoursClicked(project)" title="Ver horas"></span>
                            </td>
                        </tr>
                        <tr ng-if="$data.length == 0">
                            <td colspan="4">
                                <span>No hay datos para mostrar</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>