html {
    height: 100%;
    background: #e9e9e9;
}

body {
    width: 100%;
    height: 100%;
    min-height: 900px;
    margin: 0;
    padding: 0;
    background: #e9e9e9;
    overflow-x: hidden;
    /* Fix for webkit rendering */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size-adjust: 100%;
}
#main {
    position: relative;
    min-height: 100%;
    background: #e9e9e9;
}

#headerStyle {
    background-color: #3498db !important;
    color: #e1f0fa;
    border: none
}
.navbar-branding {
    position: relative;
    overflow: hidden;
    float: left;
    width: 250px;
    height: 60px;
    margin-right: 10px;
    background-color: transparent;
    /* Logo */
}
.p15 {
    padding: 15px !important;
}

.fw600 {
    font-weight: 600 !important;
}

.mw30 {
    max-width: 30px !important;
}

.br64 {
    border-radius: 64px !important;
}

img {
    vertical-align: middle;
}
a {
    color: #fff !important;
}

a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #2489cc !important;
}
.navbar {
    z-index: 1030;
    margin-bottom: 0;
    height: 60px;
    color: #666;
    background-color: #FFF;
    border-radius: 0;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 1px 0 0 #e0e0e0;
    /* Navbar shadow option - Only allowed on default white navbar */
}
#content {
    padding: 15px 8px 40px 250px;
    margin-top:60px;
}

#sidebar_left.nano.affix {
    padding-bottom: 0;
}

#sidebar_left.affix {
    position: fixed;
}

#sidebar_left {
    background-color: #4c4a49;
}

#sidebar_left {
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    
}

.nano.affix {
    height: 100%;
}

.affix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nano {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#panelLogin {
    width: 40%;
    margin: 120px;
}
#panelContent{
    padding-left:17%
}
hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}