html {
    height: 100%;
    background: #e9e9e9;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
   /* min-height: 900px;*/
    margin: 0;
    padding: 0;
    background: #e9e9e9;
    overflow-y: auto;
    overflow-x:hidden;
    /* Fix for webkit rendering */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size-adjust: 100%;
}
#main {
    position: relative;
    /*min-height: 100%;*/
    background: #e9e9e9;
}

#headerStyle {
    background-color: #3498db !important;
    color: #e1f0fa;
    border: none;
    margin-top:-10px;
}
.navbar-branding {
    position: relative;
    overflow: hidden;
    float: left;
    width: 250px;
    height: 60px;
    margin-right: 10px;
    background-color: transparent;
    /* Logo */
}
.p15 {
    padding: 15px !important;
}

.fw600 {
    font-weight: 600 !important;
}

.mw30 {
    max-width: 30px !important;
}

.br64 {
    border-radius: 64px !important;
}

img {
    vertical-align: middle;
}
a {
    color: #fff !important;
}

a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #2489cc !important;
}
.navbar {
    z-index: 1030;
    margin-bottom: 0;
    height: 53px;
    color: #666;
    background-color: #FFF;
    border-radius: 0;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 1px 0 0 #e0e0e0;
    /* Navbar shadow option - Only allowed on default white navbar */
}
/*title*/
#titleSite:hover {
    cursor:pointer
}
#content {
    padding: 15px 8px 40px 15px;
    margin-top: 60px;
}

#sidebar_left.nano.affix {
    padding-bottom: 0;
}

#sidebar_left.affix {
    position: fixed;
}

#sidebar_left {
    background-color: #4c4a49;
}

#sidebar_left {
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    
}

.nano.affix {
    height: 100%;
}

.affix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nano {
    position: relative;
    width: 100%;
    overflow: hidden;
}
/*style login*/
#panelLogin {
    vertical-align: middle;
    top: 15vh;
}
#panelContent {
    padding-left: 17%;
    padding-right: 17%
}
/*line in bottom header login*/
hr {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}
table{
    background-color:#fff !important;
}
#tableList {
    margin-top: 50px;
    background-color: #fff !important;
}
#search {
    margin-bottom: 10px !important;
}
.toggleOn {
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
}

.toggleOff {
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
}
.sidebar {
    color: #fff;
    height: 100vh;
}
ul li a{
    cursor:pointer;
}

td span.glyphicon{
    cursor:pointer;
}
td span{
    cursor:pointer
}
#rolTable th:last-child span {
    /*float: right;*/
    margin-right: 10px;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}
/*checkbox size*/
.big-checkbox > input {
    width: 25px;
    height: 25px;
}

/*text align td*/
td{
    text-align:center
}

/*Project details tree*/
tree {
    margin-left: 20px;
    display: block;
    background-color: #f0f0f0;
}
tree a {
        color: #000 !important;
    }
/*style pagintaion*/
a.page-link{
    color:#000 !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    color:#fff !important;
}
/*btn salir*/
.navbar .dropdown-menu li > a, .navbar.navbar-default .dropdown-menu li > a {
    padding: 4px 16px !important;
}
#styleSalir .dropdown-menu{
    min-width:80px !important;
}
/*tree detail table*/
th{
    text-align:center !important;
}
/*notification*/
button#notification {
    color: #fff;
}
.btn, .input-group-btn .btn{
    text-transform:none
}
/*notifications*/
#contentNotifications {
    width: 300px;
    left: 135px;
    float: left;
    position: relative;
    top: 40px;
    padding-top: 0px;
    border-radius: 0px;
}
#contentNotifications li{
    color:#000;
    left:-25px;
}
 #contentNotifications ul {
    text-align:left;
    padding-top:5px;
 }
 #contentNotifications div.panel-heading{
     padding:4px 15px;
 }
.arrow-top:before {
    content: "";
    position: absolute;
    top: -9px;
    left: 200px;
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
}
#listNotifications{
    overflow-y:auto;
    height:auto;
    max-height:200px;
}
    #listNotifications::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #listNotifications::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    #listNotifications::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #C0C0C0;
    }
.vl {
    border-left: 2px solid #A9A9A9;
    height: 45px;
}
#listNotifications td{
    height:50px
}
/*select,input, label style*/
/*.panel-body select {
    color: #444;
}*/
.panel-body label{
    color:#555;
}
.panel-body input {
    color: #444;
}
/*option#optDefault {
    color: #999 !important;
}*/
/*border control*/
.form-control {
    border-radius: 0;
}
.modal-content{
    width:80%;
}
/*legend fieldset*/
legend{
    font-size:15px;
}
/*style notifications and logout*/
#regionInfo{
    cursor:pointer;
    color:#fff;
}
/*notifications*/
.ng-toast {    
    margin-top: 3px !important;
   right:-11px;
}
/*active menu*/
.activeMenu {
    color: #fff !important;
    text-decoration: none;
    background-color: #2489cc !important;
    box-shadow: inset 3px 0px 0px 0px #f2ab00
}
/*style button square*/
button{
    border-radius:0 !important;
}
/*style panel square*/
.panel, .panel-default, .panel-body{
    border-radius:0px !important;
}
/*menu logout*/
ul.dropdown-menu{
    border-radius:0px;
}
/*modal border square*/
.modal-content {
    border-radius: 0px ;
}
/*width modal detail project*/
.clsPopup .modal-content{
    width:100% !important
}
/*loading login*/
.clsPopupLoad .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    overflow:hidden
}
#modal-body-load {
    margin-top:50%;
    margin-left:50%
}
