<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>Listado de Clientes</b></span>
        </div>
        <div class="panel-body">
            <div id="search" class="pull-right">
                <div class="inner-addon left-addon">
                    <input class="form-control" placeholder="Buscar..." ng-model="search" />
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div class="pull-left">
                <button class="btn btn-success btn-raised btn-info" ng-click="onCreateClicked()"><span class="glyphicon glyphicon-plus" style="margin-right:5px"></span>Nuevo</button>
            </div>


            <div id="tableList" class="ng-table-responsive">
                <table ng-table="model.tableParams" class="table table-hover" id="rolTable">
                    <!--<thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>-->
                    <tbody>
                        <tr ng-repeat="client in $data">
                            <td title="'Nombre'" sortable="'name'">
                                {{client.name}}
                            </td>
                            <td title="'Opciones'">
                                <span>
                                    <span class="glyphicon glyphicon-pencil" ng-click="onEditClicked(client.id)" title="Editar"></span>
                                    <span class="glyphicon glyphicon-trash" ng-click="onRemoveClicked(client)" title="Eliminar"></span>
                                </span>
                            </td>
                        </tr>
                        <tr ng-if="$data.length == 0">
                            <td colspan="2">
                                <span>No hay datos para mostrar</span>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>