
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>Asignar Proyectos</b></span>
        </div>
        <div class="panel-body">
            <form name="assignProjectForm" novalidate ng-submit="assignProject()">
                <div class="row">
                    <div class="col-md-6">
                        <label>Proyecto</label>
                        <select class="form-control" ng-model="model.project" ng-options="project.name for project in projects"
                                required name="projectName">
                            <option value="">Seleccione proyecto</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Usuario</label>
                        <select class="form-control" ng-model="model.assignee" ng-options=" user.name for user in users"
                                required name="assigneeUser">
                            <option value="">Seleccione usuario</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-raised pull-right btn-info"
                                ng-disabled="assignProjectForm.$invalid">Asignar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
</div>
 