<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>Listado de Proyectos</b></span>
        </div>
        <div class="panel-body">
            <div class="pull-left"  ng-show="currentUser.role.name == 'ADMIN'">
                <button ng-click="onCreateClicked()" class="btn btn-primary btn-info btn-raised"><span class="glyphicon glyphicon-plus" style="margin-right:5px"></span>{{acceptButtonCaption}}</button>
            </div>
            <div id="search" class="pull-right">
                <div class="inner-addon left-addon">
                    <input class="form-control" placeholder="Buscar..." ng-model="search.term" ng-click="model.tableParams.sorting({})"/>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="tableList">
                <table ng-table="model.tableParams" class="table table-hover">
                    <thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Cliente</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in $data">
                            <td>
                                {{project.name}}
                            </td>
                            <td title="'Cliente'">
                                {{project.client.name}}
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-list" ng-click="viewDetails(project.id)" title="Ver"></span>
                                <span class="glyphicon glyphicon-pencil" ng-click="onEditClicked(project.id)" ng-show="currentUser.role.name == 'ADMIN'"></span>
                                <span ng-if="currentUser.role.name == 'ADMIN'" class="glyphicon glyphicon-trash" ng-click="onRemoveClicked(project)" title="Eliminar"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>