
<div class="container-fluid">
    <div id="search" class="pull-right">
        <input class="form-control" type="text" name="searchProject" placeholder="Buscar..." ng-model="search.term" ng-click="model.tableParams.sorting({})" />
    </div>
 <div id="tableList">
     <table ng-table="model.tableParams" class="table table-hover table-responsive">
         <tr ng-repeat="project in $data">
             <td title="'Nombre'">
                 {{project.name}}
             </td>
             <td title="'Cliente'">
                 {{project.client.name}}
             </td>
             <td title="'Opciones'">
                 <span class="glyphicon glyphicon-list-alt" ng-click="viewDetails(project.id)"></span>
                 <span class="glyphicon glyphicon-trash"></span>
             </td>
         </tr>
     </table>
 </div>
 
</div>
