<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>{{title}}</b></span>
        </div>
        <div class="panel-body">
            <form name="projectInput" novalidate ng-submit="onButtonClicked()">
                <div class="section row">
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control col-md-6" type="text" name="projectName" placeholder="Nombre del proyecto" ng-model="model.name" required/>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4 col-sm-6">
                        <label>Tipo de Proyecto</label>
                        <select class="form-control" ng-model="model.type" ng-options="projectType.name for projectType in projectTypes track by projectType.id"
                                name="projectType"  required>
                            <option value="">Seleccione el tipo</option>
                            
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-lg-4 col-sm-6">
                        <label>Cliente</label>
                        <select class="form-control" ng-model="model.client" ng-options="client.name for client in clientes track by client.id"
                                name="client" required>
                            <option value="">Seleccione cliente</option>
                        </select>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12" hour-type hour-types="hourTypes" project-hour-types="model.projectsHoursTypes" target-form="projectInput">

                    </div>
                </div>
                <div class="col-md-2 col-lg-2 pull-right">
                    <input type="hidden" name="id" value="model.id" ng-if="model.id" />
                    <button type="submit" class="btn btn-primary btn-info btn-block" ng-disabled="projectInput.$invalid || model.projectsHoursTypes.length == 0">{{acceptButtonCaption}}</button>
                 </div>
</form>
        </div>
    </div>
</div>