<div class="container-fluid">
    <div class="row">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Eliminar</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <span>¿Desea eliminar el proyecto <strong>{{msge}}</strong> ?</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger btn-raised" type="button" ng-click="ok()">Aceptar</button>
            <button class="btn btn-primary btn-raised" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </div>    
</div>