<div class="container-fluid">
    <div class="row">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Error</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <span>El proyecto <strong>{{msge}}</strong> no puede ser eliminado porque tiene asignaciones asociadas a él.</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger btn-info" type="button" ng-click="cancel()">Aceptar</button>
        </div>
    </div>
</div>