
<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>Asignar Horas</b></span>
        </div>
        <div class="panel-body">
            <form name="assignHoursToSingleDeveloper" novalidate ng-submit="create()">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <label>Proyecto</label>
                        <select class="form-control selectStyle" ng-model="assignment.project" ng-options="project.name for project in projects"
                                required name="projectName" ng-change="onProjectAssignChanged()">
                            <option value="">Seleccione proyecto</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <label>Tipo de hora</label>
                        <select class="form-control" ng-model="assignment.hourType" ng-options="hourType.name for hourType in hourTypes"
                                required name="hourType" ng-disabled="!assignment.project">
                            <option value="">Seleccione tipo de hora</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <label>Usuario</label>
                        <select class="form-control" ng-model="assignment.user" ng-options="user.name for user in users"
                                required name="user">
                            <option value="" selected>Seleccione usuario</option>
                        </select>
                    </div>                   
                </div>
                <div class="row" style="margin-top:10px">                   
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <label>Cantidad de horas</label>
                        <input type="number" class="form-control" ng-model="assignment.hours" 
                               required name="hourCount" ng-min="0"/>
                        <div class="text-danger">
                            <span class="error" ng-show="assignHoursToSingleDeveloper.hourCount.$error.min">
                                El número de horas debe ser mayor que cero
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-2 col-lg-2 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-info"
                                ng-disabled="assignHoursToSingleDeveloper.$invalid">Asignar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
