
<div class="container">
    <div class="row">
        <form method="post" class="form-horizontal" role="form">
            <div class="panel-body bg-light p30">
                <div class="row">
                    <div class="col-sm-7 pr30">

                        <div class="section">
                            <label class="field-label text-muted fs18 mb10">Username</label>
                            <label class="field prepend-icon">
                                <input class="gui-input" placeholder="Enter username" />
                                <label class="field-icon">
                                    <i class="fa fa-user"></i>
                                </label>
                            </label>
                        </div>
                        <!-- end section -->

                        <div class="section">
                            <label class="field-label text-muted fs18 mb10">Password</label>
                            <label class="field prepend-icon">
                                <input class="gui-input" placeholder="Enter password" />
                                <label class="field-icon">
                                    <i class="fa fa-lock"></i>
                                </label>
                            </label>
                        </div>
                        <!-- end section -->

                    </div>
                </div>
            </div>
            <!-- end .form-body section -->
            <div class="panel-footer clearfix p10 ph15">
                <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
</div>

