<div class="container" id="panelLogin">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <span>Login</span>
                </div>
            </div>
          <hr />
            <div class="panel-body" id="panelContent">
                <div class="row">
                    <div class="col-md-12">

                        <div class="section">
                            <label class="field-label text-muted fs18 mb10">Username</label>
                            <label class="field prepend-icon">
                                <input class="gui-input" placeholder="Enter username" ng-model="userName" />
                                <label class="field-icon">
                                    <i class="fa fa-user"></i>
                                </label>
                            </label>
                        </div>
                        <!-- end section -->

                        <div class="section">
                            <label class="field-label text-muted fs18 mb10">Password</label>
                            <label class="field prepend-icon">
                                <input class="gui-input" placeholder="Enter password" ng-model="password" type="password"/>
                                <label class="field-icon">
                                    <i class="fa fa-lock"></i>
                                </label>
                            </label>
                        </div>
                        <!-- end section -->
                        <label class="text-danger" ng-show="invalidCredentials">Usuario o contraseña incorrectos</label>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="width:100%">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" style="margin-right:40px" ng-click="onLoginClicked();">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   

         
            <!-- end .form-body section -->
            <!--<div class="panel-footer">-->
                
            <!--</div>-->
            <!-- end .form-footer section -->
     
