<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>{{title}}</b></span>
        </div>
        <div class="panel-body">
            <form name="hourTypeInput" novalidate ng-submit="onButtonClicked()">
                <div class="section row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input class="form-control" type="text" ng-model="model.name" 
                                   name="hourTypeName" required/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-info btn-raised pull-right" ng-disabled="hourTypeInput.$invalid">{{acceptButtonCaption}}</button>
            </form>
        </div>
    </div>
</div>
