<div class="container-fluid tableStyle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>{{title}}</b></span>
        </div>
        <div class="panel-body">
            <form name="hourTypeInput" novalidate ng-submit="onButtonClicked()">
                <div class="section row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" type="text" ng-model="model.name" 
                                   name="hourTypeName" required placeholder="Tipo de hora"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-lg-2 pull-right">
                        <button class="btn btn-primary btn-info btn-block " ng-disabled="hourTypeInput.$invalid">{{acceptButtonCaption}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
