<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>Listado de Usuarios</b></span>
        </div>
        <div class="panel-body">
            <div id="search" class="pull-right">
                <div class="inner-addon left-addon">
                    <input class="form-control" placeholder="Buscar..." ng-model="search.term" ng-click="model.tableParams.sorting({})" />
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div class="pull-left">
                <button class="btn btn-primary btn-raised btn-info" ng-click="onCreateClicked()"><span class="glyphicon glyphicon-plus">Nuevo</span></button>
            </div>
            <div id="tableList">
                <table ng-table="model.tableParams" class="table table-striped  bordered table-responsive">
                    <thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Rol</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in $data">
                            <td>
                                {{user.name}}
                            </td>
                            <td>
                                {{user.role.name}}
                            </td>
                            <td>
                                <span>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="glyphicon glyphicon-trash"></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>