<div class="container-fluid">
    <div id="search" class="pull-right">
        <input class="form-control" type="text" name="searchUsers" placeholder="Buscar..." ng-model="search.term" ng-click="model.tableParams.sorting({})" />
    </div>
    <div id="tableList">
        <table ng-table="model.tableParams" class="table table-hover table-responsive">
            <tr ng-repeat="user in $data">
                <td title="'Nombre'">
                    {{user.name}}
                </td>
                <td title="'Rol'">
                    {{user.role.name}}
                </td>               
            </tr>
        </table>
    </div>

</div>