<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Listado de Usuarios</span>
        </div>
        <div class="panel-body">
            <div id="search" class="pull-right">
                <div class="inner-addon left-addon">
                    <input class="form-control" placeholder="Buscar..." ng-model="search.term" ng-click="model.tableParams.sorting({})" />
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="tableList">
                <table ng-table="model.tableParams" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Rol</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in $data">
                            <td title="'Nombre'">
                                {{user.name}}
                            </td>
                            <td title="'Rol'">
                                {{user.role.name}}
                            </td>
                        </tr>
                    </tbody>     
                </table>
            </div>
        </div>
