<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>{{title}}</b></span>
        </div>
        <div class="panel-body">
            <div class="section row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input class="form-control" type="text" ng-model="role.name" />
                    </div>
                </div>
            </div>
            <button ng-click="onButtonClicked()" class="btn btn-primary btn-raised btn-info pull-right">{{acceptButtonCaption}}</button>
        </div>
    </div>
</div>